@model IEnumerable<CRMApp.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUserId)
            </td>
            <td>
                <a asp-action="Accept" asp-controller="Bank" asp-route-requestId="@item.Id">Accept</a>
            </td>
        </tr>
}
    </tbody>
</table>
